<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instructor</title>
    <style>
        body {
            width: 100vw;
            height: 100vh;
            display: flex;
        }
        .left {
            width: 30%;
        }
        .right {
            width: 70%;
        }
        th,td {
            padding: 3px 10px;
        }
    </style>
</head>
<body>
    
    <div class="left">
        <h1>Instructor Profile</h1>
        <h2>Name : </h2>
        <h3><%= result[0].Budd.name %> </h3>
        <h2>Email :  </h2>
        <h3><%= result[0].Budd.email %></h3>
        <h2>Phone Number : </h2>
        <h3><%= result[0].Budd.phone_number %> </h3>
    </div>
    <div class="rigth">
        <h1> List Student </h1> <br>
        <% if( error ) { %> 
            <h1><%= error %> </h1>
        <% } else { %> 
        <table border>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% result.forEach(element => { %>
                    <tr>
                        <td><%= element.Student.id %> </td>
                        <td><%= element.Student.name %> </td>
                        <td><%= element.Student.email %> </td>
                        <td><%= element.Student.phone_number %> </td>
                        <td><button><a href="/">REMOVE STUDENT FROM THIS LIST</a></button></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <% } %> 
    </div>
</body>
</html>